

  
    <nav class="nav navbar-nav navbar-fixed-left navbar-light bg-light">
        <div class="product-profile-image">
        </div>
      <li>
        <a class="page-scroll" href="#ProductInfo"> 产品信息 <br> Product Information</a>
      </li>
      <li>
       <a class="page-scroll" href="#History"> 改造过程 <br> Process</a>
     </li>
    </nav>
  <div class="product-container">
    <div class="event-intro">
      <h3 class="card-title"><%= @event.title %></h3>
      <p class="card-title"><%= @event.text %></p>
      <p class="card-title"><%= @event.time %></p>
      <p class="card-title"><%= @event.location %></p>
      <p class="card-text"><%= @event.created_at %></p>
    </div>  
  </div>
</div>


</div>
</div>


