<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br> <br> <br> <br> <br>
                    <h1>Edit Post</h1>

                    <% if flash[:error] %>
                      <p><%= flash[:error] %></p>
                    <% end %>

                    <%= form_for @project do |f| %>
                    <fieldset>
                    <div>
                        <%= f.label :title %>
                        <%= f.text_field :title %>
                    </div>
                    <div>
                        <%= f.label :brief %>
                        <%= f.text_area :brief%>
                    </div>

                    <div>
                        <%= f.label :image1 %>
                        <%= f.text_area :image1%>
                    </div>
                    </fieldset>
                    <div> <%=f.submit "Add", :class => 'btn btn-default btn-lg'%>
                    <%end%>

                    <p class="btn btn-default btn-lg"><%= link_to "Cancel", project_path(@project) %></p>
                    </div>
                </div>
            </div>
        </div>
