
  
<nav class="nav navbar-nav navbar-fixed-left navbar-light bg-light">
  <div class="product-profile-image">
    <%= image_tag @project.image1, :class => "profile-image" %>
  </div>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item nav-link active">
    <a class="page-scroll" href="#ProductInfo"> 产品信息 <br> Product Information</a>
  </li>
  <li class="nav-item nav-link active">
    <a class="page-scroll" href="#History"> 改造过程 <br> Process</a>
  </li class="nav-item active">
</ul>
</nav>

<div class="product-container" >
  <div class="row" id="ProductInfo">
    <div class="col-lg-6 col-md-4">
      <div style="margin: 0px 40px">

            <div class="product-slider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">   <%= image_tag @project.image1, :class => "d-block w-100" , :alt => "First slide"%> </div>
                  <div class="carousel-item">          <%= image_tag @project.image2, :class => "d-block w-100" , :alt => "Second slide"%></div>

                </div>
              </div>
              <div class="clearfix">
                <div class="carousel-control">
                         <a class="carousel-control" href="#carousel" role="button" data-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span></i> </a> 
                  <a class="carousel-control" href="#carousel" role="button" data-slide="next"> 
                    <span class="carousel-control-next-icon" aria-hidden="true"></span> </a> </div>
                  </div>
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">


                    <div class="item active">
                      <div data-target="#carousel" data-slide-to="0" class="thumb"> <%= image_tag @project.image1%> </div>
                      <div data-target="#carousel" data-slide-to="1" class="thumb"><%= image_tag @project.image2%></div>
                      <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+03"></div>

                    </div>
                    <div class="carousel-item">
                      <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+06"></div>
                      <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="http://placehold.it/100x80?text=Thumb+07"></div>

                    </div>
                  </div>
                  <!-- /carousel-inner --> 
             
                <!-- /thumbcarousel --> 


  </div>
</div>
      </div>
    </div>

    <div class="col-lg-4 col-md-3">
      <div class="project-intro">
        <h2 class="project-title"><%= @project.title %></h2>
        <p class="project-brief"><%= @project.brief %></p>
        <p class="project-description"><%= @project.description %></p>
      </div>  
  <!--       <%= link_to edit_project_path do%>
    <p class="btn btn-default btn-lg">Edit</p>
    <% end%>
    <%= link_to project_path(@project), method: "DELETE" do%>
    <p class="btn btn-default btn-lg">Delete</p>
    <% end%> -->
    </div>
  </div>



